.item{
    width: 300px;
    display: flex;
    align-items: center;
    box-shadow:2px 2px 10px 1px ;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.close{
    color: red;
    font-weight: 900;
    cursor: pointer;
  }
  button{
    margin-top: 30px;
    width: 100px;
    height: 50px;
    background-color: cadetblue;
    border: none;
  }
  input{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 10px 1px;
  }